<div class="row m-1">
    <div class="col-md-12">
        <div class="profile-container p-5">
          <form [formGroup]="printObjectForm">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div id="block_container">
                <div id="bloc1"><h5>Printable Object Counter</h5></div>
                <!-- Default switch -->
                <div class="custom-control custom-switch pl-5">
                  <input type="checkbox" class="custom-control-input" id="customSwitches" formControlName="applyConfiguration">
                  <label class="custom-control-label" for="customSwitches">Apply Configuration</label>
                </div>
                <!-- <div id="bloc2" class="pl-2" (click)="configureDistribution()">
                  <i class="fa fa-regular fa-gear" title="Configure distribution percentage of data"></i>
                </div> -->
              </div>
                <div class="row mt-5">
                    <div class="col-md-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isNeumericCount" name="isNeumericCount" formControlName="isNeumericCount">
                            <label class="form-check-label" for="isNeumericCount">
                              Numeric
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isAlphaneumericCount"  checked name="isAlphaneumericCount" formControlName="isAlphaneumericCount">
                            <label class="form-check-label" for="isAlphaneumericCount">
                              Alphaneumeric
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isFloatCount" checked name="isFloatCount" formControlName="isFloatCount">
                            <label class="form-check-label" for="isFloatCount">
                              Float
                            </label>
                          </div>
                    </div>
                    <div class="col-md-7">
                      <div class="col-md-6 mb-5">
                        <label for="subject">Size of the output file(KB)</label><span class="required-field">*</span>
                        <input type="number" class="form-control" id="fileSize" name="fileSize"
                            placeholder="File size" formControlName="fileSize"
                            [ngClass]="{'is-invalid':printObjectForm.invalid && printObjectForm.touched}">
                      </div>
                    </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-success button-rounded" (click)="startCounting()" [disabled]="processStarted">
                      Start
                    </button>
                    <button type="button" class="btn btn-danger button-rounded ml-5" (click)="stopCounting()">
                      Stop
                    </button>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                      <label for="notesService" class="float-end">Counter 1 (Numeric)</label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                      <input type="number" class="form-control percent-field" name="neumericCount" formControlName='neumericCount' readonly/>
                  </div>                       
              </div>

              <div class="row form-group">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <label for="notesService" class="float-end">Counter 2 (Alphanumeric)</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <input type="number" class="form-control percent-field" name="alphaNeumericCount" formControlName='alphaNeumericCount' readonly/>
                </div>                       
             </div>

            <div class="row form-group">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <label for="notesService" class="float-end">Counter 3 (Float)</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <input type="number" class="form-control percent-field" name="floatCount" formControlName='floatCount' readonly/>
              </div>                       
          </div>
          <div class="row mb-5">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary button-rounded" (click)="generateReport()">
                Generate Report
              </button>
            </div>
          </div>
            </div>
          </div>
        </form>
        </div>
    </div>
</div>

<ng-template #configDistributionModal let-configDistributionModal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Configure Distributiobion</h4>
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal" (click)="closeConfigurationModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="configureDistributionForm">
      <div class="row form-group">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
            <label for="numericPercentage" class="float-end">Numeric (%)</label>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
            <input type="number" class="form-control percent-field" name="numericPercentage" formControlName='numericPercentage'/>
        </div>                       
     </div>
     
     <div class="row form-group">
        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
            <label for="alphanumericPercentage" class="float-end">Alphanumeric (%)</label>
        </div>
        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-6">
            <input type="number" class="form-control percent-field" name="alphanumericPercentage" formControlName='alphanumericPercentage'/>
        </div>                       
      </div>
      <div class="row form-group">
        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
            <label for="floatPercentage" class="float-end">Float (%)</label>
        </div>
        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-6">
            <input type="number" class="form-control percent-field" name="floatPercentage" formControlName='floatPercentage'/>
        </div>                       
     </div>
     <div class="row">
       <div class="col-md-10">
         <hr />
       </div>
     </div>
     <div class="row form-group">
      <div class="col-md-5 text-end">
          <label for="total" class="text-end"><strong>Total (%)</strong></label>
      </div>
      <div class="col-md-5">
          <span><strong>{{totalPercentage}}%</strong> </span>
      </div>
  </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal"
        (click)="closeConfigurationModal()">Close</button>
    <button type="button" class="btn btn-primary float-right" (click)="applyConfigureDistribution()">Apply Changes</button>
  </div>
</ng-template>